
/* CLOSE BUTTON */
.btn .fullscreenComponent__control--close {
  position: absolute !important;
  right: 50px !important;
  top: 50px !important;
  width: 80px !important;
  height: 80px !important;
}

.__grid-component {
  width: 100% !important;
  height: 100% !important;
  max-width: 3840px !important;
  max-height: 2160px !important;
}