
/* HIDE ICONS FROM TILES*/
.gridItemComponent__icon {
  display: none !important;
}

/* BACKGROUND THUMBNAIL FOR SPECIFIC TILE */
#ember816 {
  background: url(https://drive.google.com/uc?export=download&id=13UXg6QWD4FFhVS_3EiVmMEnRJZsVSDHP) !important;
  background-size: cover !important;
}

.gridComponent__item img {
  display: none !important;
}

/* FIRST CHILD OF GRIDCOMPONENT == TILE 1 */ 
// .gridComponent__container:nth-child(1) {
//   background: url(https://drive.google.com/uc?export=download&id=13UXg6QWD4FFhVS_3EiVmMEnRJZsVSDHP) !important;
// }

/* FIRST CHILD OF GRIDCOMPONENT == TILE 2 */ 
// .gridComponent__container:nth-child(2) {
//   background: url(https://drive.google.com/uc?export=download&id=12qroo1XkvPqkudB5R8OKtI6Q5NY7p-pI) !important;
// }

/* FIRST GRID COMPONENT */
.gridComponent__item:nth-of-type(1) {
  position: absolute !important;
  top: 200px !important;
  left: 120px !important;
  background: url(https://drive.google.com/uc?export=download&id=13UXg6QWD4FFhVS_3EiVmMEnRJZsVSDHP) !important;
}

/* SECOND GRID COMPONENT */
.gridComponent__item:nth-of-type(2) {
  position: absolute !important;
  top: 200px !important;
  left: 580px !important;
  background: url(https://drive.google.com/uc?export=download&id=12qroo1XkvPqkudB5R8OKtI6Q5NY7p-pI) !important;
}

/* THRID GRID COMPONENT */
.gridComponent__item:nth-of-type(3) {
  position: absolute !important;
  top: 600px !important;
  left: 120px !important;
  background: url(https://drive.google.com/uc?export=download&id=13UXg6QWD4FFhVS_3EiVmMEnRJZsVSDHP) !important;
}

/* FOURTH GRID COMPONENT */
.gridComponent__item:nth-of-type(4) {
  position: absolute !important;
  top: 600px !important;
  left: 580px !important;
  background: url(https://drive.google.com/uc?export=download&id=12qroo1XkvPqkudB5R8OKtI6Q5NY7p-pI) !important;
}
